<table>
    <caption>Education</caption>
        <tr>
            <th>School/Center</th>
            <th>Location</th>
            <th>State</th>
            <th>Website</th>
            <th>Degree</th>
            <th>Additional Information</th>
        </tr>
        <tr>
            <td>Kingsley High School</td>
            <td>Kingsley</td>
            <td>Michigan</td>
            <td><a href="https://www.kingsley.k12.mi.us" target="_blank">Kingsley.k12.mi.us</a></td>
            <td>High School Diploma</td>
            <td></td>
        </tr>
        <tr>
            <td>TBA Career-Tech Center(Web & Game Programming)</td>
            <td>Traverse City</td>
            <td>Michigan</td>
            <td><a href="http://tbactc.org" target="_blank">TbaCtc.org</a></td>
            <td>High School Enrollment</td>
            <td>Graudated with 3.9 gpa, student of the year 2013</td>
        </tr>
        <tr>
            <td>Northwestern Michigan College</td>
            <td>Traverse City</td>
            <td>Michigan</td>
            <td><a href="https://www.nmc.edu" target="_blank">Nmc.edu</a></td>
            <td>AAS - Developer</td>
            <td></td>
        </tr>
        

</table>
