<table>
    <caption>Skills</caption>
    <tr>
        <th>Skill</th>
        <th>Certificate, if applicable</th>
    </tr>
    <tr>
        <td>HTML, CSS</td>
        <td><img src="~/Content/CIW.png" style="width:50%; border: 2px solid #000; border-radius: 10px;"></td>
    </tr>
    <tr>
        <td>SQL SERVER/MYSQL</td>
        <td><img src="~/Content/DB.png" style="width:50%; border: 2px solid #000; border-radius: 10px;"></td>
    </tr>
    <tr>
        <td>jQuery/JavaScript</td>
        <td><img src="~/Content/jQueryCourse.png" style="width:50%; border: 2px solid #000; border-radius: 10px;"></td>
    </tr>
    <tr>
        <td>PHP</td>
        <td><img src="~/Content/PHPCourse.jpg" style="width:50%; border: 2px solid #000; border-radius: 10px;"></td>
    </tr>

</table>
