<p>Hi! My name is Mathew Dodson. I was born in Cleveland, Ohio, but spent most of my life is the Grand Traverse County area. I like to hangout with friends and family, play video games, and in my spare time, I like to go bowling with friends or League.</p>
<p>I got into computers at a very young age. I was born with a disability so I had to use a computer for learning, typing, and brain development skills.</p>
<p>I got into software and web development back in high school. I spent 2 years at the Traverse Bay Area Career-Tech Center, learning skills like HTML, CSS, JavaScript, PHP, and Python.</p>
<p>When I graduated high school, I stayed in Traverse City, going to Northwestern Michigan College. I obtained my associate's in CIT Developer and many certificates and MTA's along the way. </p>
<p>In the future, I would like to be a full stack .NET Developer. The skills<br /> that I've gained throughout the years include, but are not limited to, HTML, CSS, PHP, JavaScript, SQL(Server and MYSQL), C#, and ASP.Net, using many frameworks, including the MVC framework. I also obtained the various skills for project management and agile development.</p>
