<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>

<script>
    $(function() {
        var galleryImage = $(".gallery").find("img").first();
        var images = [
            "/Content/CIW.png",
            "/Content/DB.png",
            "/Content/jQueryCourse.png",
            "/Content/PHPCourse.jpg",];

        var i = 0;

        setInterval(function () {
            i = (i + 1) % images.length;
            galleryImage.fadeOut(function () {
                $(this).attr("src", images[i]);
                $(this).fadeIn();
            });
        }, 4000);
    })
</script>



<div class="gallery">
    <img style="border: 2px solid black; border-radius:15px;" src="~/Content/CIW.png" width="300" height="300" alt="Certificates">
</div>


